.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.box {
    width: 10px;
    height: 10px;
    background-color: gray;
}

.clicked {
    background-color: blue;
}