.grid {
    display: grid;
    grid-template-columns: repeat(32, 10px);
    grid-template-rows: repeat(32, 10px);
    background-color: red;
}

.box {
    width: 10px;
    height: 10px;
}

.box.color0 {
    background-color: #000000;
}

.box.color1 {
    background-color: #FFFFFF;
}

.box.color2 {
    background-color: #ff0000;
}

.box.color3 {
    background-color: #00FF00;
}

.box.color4 {
    background-color: #0000FF;
}

.box.color5 {
    background-color: #00FFFF;
}

.box.color6 {
    background-color: #FF00FF;
}

.box.color7 {
    background-color: #FFFF00;
}