.box.color0 {
    background-color: #000000;
}

.box.color1 {
    background-color: #000000;
}

.box.color2 {
    background-color: #000000;
}

.box.color3 {
    background-color: #000000;
}

.box.color4 {
    background-color: #000000;
}

.box.color5 {
    background-color: #000000;
}

.box.color6 {
    background-color: #000000;
}

.box.color7 {
    background-color: #000000;
}

.box.color8 {
    background-color: #000000;
}

.box.color9 {
    background-color: #000000;
}

.box.color10 {
    background-color: #000000;
}

.box.color11 {
    background-color: #330000;
}

.box.color12 {
    background-color: #660000;
}

.box.color13 {
    background-color: #990000;
}

.box.color14 {
    background-color: #cc0000;
}

.box.color15 {
    background-color: #ff0000;
}

.box.color16 {
    background-color: #003300;
}

.box.color17 {
    background-color: #333300;
}

.box.color18 {
    background-color: #663300;
}

.box.color19 {
    background-color: #993300;
}

.box.color20 {
    background-color: #cc3300;
}

.box.color21 {
    background-color: #ff3300;
}

.box.color22 {
    background-color: #006600;
}

.box.color23 {
    background-color: #336600;
}

.box.color24 {
    background-color: #666600;
}

.box.color25 {
    background-color: #996600;
}

.box.color26 {
    background-color: #cc6600;
}

.box.color27 {
    background-color: #ff6600;
}

.box.color28 {
    background-color: #009900;
}

.box.color29 {
    background-color: #339900;
}

.box.color30 {
    background-color: #669900;
}

.box.color31 {
    background-color: #999900;
}

.box.color32 {
    background-color: #cc9900;
}

.box.color33 {
    background-color: #ff9900;
}

.box.color34 {
    background-color: #00cc00;
}

.box.color35 {
    background-color: #33cc00;
}

.box.color36 {
    background-color: #66cc00;
}

.box.color37 {
    background-color: #99cc00;
}

.box.color38 {
    background-color: #cccc00;
}

.box.color39 {
    background-color: #ffcc00;
}

.box.color40 {
    background-color: #00ff00;
}

.box.color41 {
    background-color: #33ff00;
}

.box.color42 {
    background-color: #66ff00;
}

.box.color43 {
    background-color: #99ff00;
}

.box.color44 {
    background-color: #ccff00;
}

.box.color45 {
    background-color: #ffff00;
}

.box.color46 {
    background-color: #000033;
}

.box.color47 {
    background-color: #330033;
}

.box.color48 {
    background-color: #660033;
}

.box.color49 {
    background-color: #990033;
}

.box.color50 {
    background-color: #cc0033;
}

.box.color51 {
    background-color: #ff0033;
}

.box.color52 {
    background-color: #003333;
}

.box.color53 {
    background-color: #333333;
}

.box.color54 {
    background-color: #663333;
}

.box.color55 {
    background-color: #993333;
}

.box.color56 {
    background-color: #cc3333;
}

.box.color57 {
    background-color: #ff3333;
}

.box.color58 {
    background-color: #006633;
}

.box.color59 {
    background-color: #336633;
}

.box.color60 {
    background-color: #666633;
}

.box.color61 {
    background-color: #996633;
}

.box.color62 {
    background-color: #cc6633;
}

.box.color63 {
    background-color: #ff6633;
}

.box.color64 {
    background-color: #009933;
}

.box.color65 {
    background-color: #339933;
}

.box.color66 {
    background-color: #669933;
}

.box.color67 {
    background-color: #999933;
}

.box.color68 {
    background-color: #cc9933;
}

.box.color69 {
    background-color: #ff9933;
}

.box.color70 {
    background-color: #00cc33;
}

.box.color71 {
    background-color: #33cc33;
}

.box.color72 {
    background-color: #66cc33;
}

.box.color73 {
    background-color: #99cc33;
}

.box.color74 {
    background-color: #cccc33;
}

.box.color75 {
    background-color: #ffcc33;
}

.box.color76 {
    background-color: #00ff33;
}

.box.color77 {
    background-color: #33ff33;
}

.box.color78 {
    background-color: #66ff33;
}

.box.color79 {
    background-color: #99ff33;
}

.box.color80 {
    background-color: #ccff33;
}

.box.color81 {
    background-color: #ffff33;
}

.box.color82 {
    background-color: #000066;
}

.box.color83 {
    background-color: #330066;
}

.box.color84 {
    background-color: #660066;
}

.box.color85 {
    background-color: #990066;
}

.box.color86 {
    background-color: #cc0066;
}

.box.color87 {
    background-color: #ff0066;
}

.box.color88 {
    background-color: #003366;
}

.box.color89 {
    background-color: #333366;
}

.box.color90 {
    background-color: #663366;
}

.box.color91 {
    background-color: #993366;
}

.box.color92 {
    background-color: #cc3366;
}

.box.color93 {
    background-color: #ff3366;
}

.box.color94 {
    background-color: #006666;
}

.box.color95 {
    background-color: #336666;
}

.box.color96 {
    background-color: #666666;
}

.box.color97 {
    background-color: #996666;
}

.box.color98 {
    background-color: #cc6666;
}

.box.color99 {
    background-color: #ff6666;
}

.box.color100 {
    background-color: #009966;
}

.box.color101 {
    background-color: #339966;
}

.box.color102 {
    background-color: #669966;
}

.box.color103 {
    background-color: #999966;
}

.box.color104 {
    background-color: #cc9966;
}

.box.color105 {
    background-color: #ff9966;
}

.box.color106 {
    background-color: #00cc66;
}

.box.color107 {
    background-color: #33cc66;
}

.box.color108 {
    background-color: #66cc66;
}

.box.color109 {
    background-color: #99cc66;
}

.box.color110 {
    background-color: #cccc66;
}

.box.color111 {
    background-color: #ffcc66;
}

.box.color112 {
    background-color: #00ff66;
}

.box.color113 {
    background-color: #33ff66;
}

.box.color114 {
    background-color: #66ff66;
}

.box.color115 {
    background-color: #99ff66;
}

.box.color116 {
    background-color: #ccff66;
}

.box.color117 {
    background-color: #ffff66;
}

.box.color118 {
    background-color: #000099;
}

.box.color119 {
    background-color: #330099;
}

.box.color120 {
    background-color: #660099;
}

.box.color121 {
    background-color: #990099;
}

.box.color122 {
    background-color: #cc0099;
}

.box.color123 {
    background-color: #ff0099;
}

.box.color124 {
    background-color: #003399;
}

.box.color125 {
    background-color: #333399;
}

.box.color126 {
    background-color: #663399;
}

.box.color127 {
    background-color: #993399;
}

.box.color128 {
    background-color: #cc3399;
}

.box.color129 {
    background-color: #ff3399;
}

.box.color130 {
    background-color: #006699;
}

.box.color131 {
    background-color: #336699;
}

.box.color132 {
    background-color: #666699;
}

.box.color133 {
    background-color: #996699;
}

.box.color134 {
    background-color: #cc6699;
}

.box.color135 {
    background-color: #ff6699;
}

.box.color136 {
    background-color: #009999;
}

.box.color137 {
    background-color: #339999;
}

.box.color138 {
    background-color: #669999;
}

.box.color139 {
    background-color: #999999;
}

.box.color140 {
    background-color: #cc9999;
}

.box.color141 {
    background-color: #ff9999;
}

.box.color142 {
    background-color: #00cc99;
}

.box.color143 {
    background-color: #33cc99;
}

.box.color144 {
    background-color: #66cc99;
}

.box.color145 {
    background-color: #99cc99;
}

.box.color146 {
    background-color: #cccc99;
}

.box.color147 {
    background-color: #ffcc99;
}

.box.color148 {
    background-color: #00ff99;
}

.box.color149 {
    background-color: #33ff99;
}

.box.color150 {
    background-color: #66ff99;
}

.box.color151 {
    background-color: #99ff99;
}

.box.color152 {
    background-color: #ccff99;
}

.box.color153 {
    background-color: #ffff99;
}

.box.color154 {
    background-color: #0000cc;
}

.box.color155 {
    background-color: #3300cc;
}

.box.color156 {
    background-color: #6600cc;
}

.box.color157 {
    background-color: #9900cc;
}

.box.color158 {
    background-color: #cc00cc;
}

.box.color159 {
    background-color: #ff00cc;
}

.box.color160 {
    background-color: #0033cc;
}

.box.color161 {
    background-color: #3333cc;
}

.box.color162 {
    background-color: #6633cc;
}

.box.color163 {
    background-color: #9933cc;
}

.box.color164 {
    background-color: #cc33cc;
}

.box.color165 {
    background-color: #ff33cc;
}

.box.color166 {
    background-color: #0066cc;
}

.box.color167 {
    background-color: #3366cc;
}

.box.color168 {
    background-color: #6666cc;
}

.box.color169 {
    background-color: #9966cc;
}

.box.color170 {
    background-color: #cc66cc;
}

.box.color171 {
    background-color: #ff66cc;
}

.box.color172 {
    background-color: #0099cc;
}

.box.color173 {
    background-color: #3399cc;
}

.box.color174 {
    background-color: #6699cc;
}

.box.color175 {
    background-color: #9999cc;
}

.box.color176 {
    background-color: #cc99cc;
}

.box.color177 {
    background-color: #ff99cc;
}

.box.color178 {
    background-color: #00cccc;
}

.box.color179 {
    background-color: #33cccc;
}

.box.color180 {
    background-color: #66cccc;
}

.box.color181 {
    background-color: #99cccc;
}

.box.color182 {
    background-color: #cccccc;
}

.box.color183 {
    background-color: #ffcccc;
}

.box.color184 {
    background-color: #00ffcc;
}

.box.color185 {
    background-color: #33ffcc;
}

.box.color186 {
    background-color: #66ffcc;
}

.box.color187 {
    background-color: #99ffcc;
}

.box.color188 {
    background-color: #ccffcc;
}

.box.color189 {
    background-color: #ffffcc;
}

.box.color190 {
    background-color: #0000ff;
}

.box.color191 {
    background-color: #3300ff;
}

.box.color192 {
    background-color: #6600ff;
}

.box.color193 {
    background-color: #9900ff;
}

.box.color194 {
    background-color: #cc00ff;
}

.box.color195 {
    background-color: #ff00ff;
}

.box.color196 {
    background-color: #0033ff;
}

.box.color197 {
    background-color: #3333ff;
}

.box.color198 {
    background-color: #6633ff;
}

.box.color199 {
    background-color: #9933ff;
}

.box.color200 {
    background-color: #cc33ff;
}

.box.color201 {
    background-color: #ff33ff;
}

.box.color202 {
    background-color: #0066ff;
}

.box.color203 {
    background-color: #3366ff;
}

.box.color204 {
    background-color: #6666ff;
}

.box.color205 {
    background-color: #9966ff;
}

.box.color206 {
    background-color: #cc66ff;
}

.box.color207 {
    background-color: #ff66ff;
}

.box.color208 {
    background-color: #0099ff;
}

.box.color209 {
    background-color: #3399ff;
}

.box.color210 {
    background-color: #6699ff;
}

.box.color211 {
    background-color: #9999ff;
}

.box.color212 {
    background-color: #cc99ff;
}

.box.color213 {
    background-color: #ff99ff;
}

.box.color214 {
    background-color: #00ccff;
}

.box.color215 {
    background-color: #33ccff;
}

.box.color216 {
    background-color: #66ccff;
}

.box.color217 {
    background-color: #99ccff;
}

.box.color218 {
    background-color: #ccccff;
}

.box.color219 {
    background-color: #ffccff;
}

.box.color220 {
    background-color: #00ffff;
}

.box.color221 {
    background-color: #33ffff;
}

.box.color222 {
    background-color: #66ffff;
}

.box.color223 {
    background-color: #99ffff;
}

.box.color224 {
    background-color: #ccffff;
}

.box.color225 {
    background-color: #ffffff;
}

.box.color226 {
    background-color: #000000;
}

.box.color227 {
    background-color: #000000;
}

.box.color228 {
    background-color: #000000;
}

.box.color229 {
    background-color: #000000;
}

.box.color230 {
    background-color: #000000;
}

.box.color231 {
    background-color: #000000;
}

.box.color232 {
    background-color: #000000;
}

.box.color233 {
    background-color: #000000;
}

.box.color234 {
    background-color: #000000;
}

.box.color235 {
    background-color: #000000;
}

.box.color236 {
    background-color: #000000;
}

.box.color237 {
    background-color: #000000;
}

.box.color238 {
    background-color: #000000;
}

.box.color239 {
    background-color: #000000;
}

.box.color240 {
    background-color: #000000;
}

.box.color241 {
    background-color: #000000;
}

.box.color242 {
    background-color: #000000;
}

.box.color243 {
    background-color: #000000;
}

.box.color244 {
    background-color: #000000;
}

.box.color245 {
    background-color: #000000;
}

.box.color246 {
    background-color: #000000;
}

.box.color247 {
    background-color: #000000;
}

.box.color248 {
    background-color: #000000;
}

.box.color249 {
    background-color: #000000;
}

.box.color250 {
    background-color: #000000;
}

.box.color251 {
    background-color: #000000;
}

.box.color252 {
    background-color: #000000;
}

.box.color253 {
    background-color: #000000;
}

.box.color254 {
    background-color: #000000;
}

.box.color255 {
    background-color: #000000;
}